{% set page_title = 'Caratteristica' %}
{% set page_subtitle = '' %}
{% extends '::base.html.twig' %}
{% form_theme edit_form 'MetronicAdminBundle::form/empty.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box yellow">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-money"></i>Caratteristica</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-striped table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>Caratteristica</th>
                                <th>ID tag</th>
                            </tr>
                        <tbody>
                    {% for row in entity.gruppo.caratteristiche %} 
                            <tr>
                                <td>{{ row.caratteristica }}</td>
                                <td>{{ row.idTagPattern }}</td>
                            </tr>
                    {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
    <div class="col-md-8">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-money"></i>Modifica Caratteristica</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                {{ form_start(edit_form) }}
                {{ form_rest(edit_form) }}
                {{ form_end(edit_form) }}
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>
<button class="btn yellow btn-xs" onclick="window.location='{{ path('configurazione_gruppi_caratteristiche', {'gruppo': entity.gruppo.id}) }}';">Torna indietro</button></a>

{% endblock %}
