{% set page_title = 'Scheda' %}
{% set page_subtitle = '' %}
{% extends '::base.html.twig' %}
{% form_theme edit_form 'MetronicAdminBundle::form/empty.html.twig' %}
{% block inline_js %}
    var lat = {{entity.lat}};
    var lon = {{entity.lon}};
    {% endblock %}
{% block js %}

    <script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
    {% javascripts
    'bundles/bazingajstranslation/js/translator.min.js'
    'js/translations/config.js'
    'js/translations/*/*.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
    {% javascripts  

    '@JFUtilityBundle/Resources/public/js/commons/sugar-1.3.9-custom.min.js'
    '@JFUtilityBundle/Resources/public/js/check_sanitize_regexp.js'
    '@MetronicAdminBundle/Resources/public/plugins/jquery-validation/src/jquery.validate.min.js'
    '@MetronicAdminBundle/Resources/public/plugins/jquery-validation/src/additional-methods.min.js'
    '@MetronicAdminBundle/Resources/public/plugins/flot/jquery.flot.js'
    '@MetronicAdminBundle/Resources/public/plugins/flot/jquery.flot.resize.js'
    '@MetronicAdminBundle/Resources/public/plugins/gmaps/gmaps.js'
    '@CasaFront2Bundle/Resources/public/js/contratto/edit.js'
    %}  
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}   
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock js %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box grey">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-building"></i>Modifica Scheda</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                {{ form_start(edit_form) }}
            {{ form_row(edit_form.tipologia) }}
            {{ form_row(edit_form.indirizzo) }}
            {{ form_row(edit_form.localita) }}
            {{ form_row(edit_form.locali) }}
            {{ form_row(edit_form.cap) }}
            {{ form_row(edit_form.descrizione) }}
            {{ form_row(edit_form.difformita) }}
            {{ form_row(edit_form.lat) }}
            {{ form_row(edit_form.lon) }}
            {% do edit_form.contratti.setRendered %}
                {% for prezzo in edit_form.contratti %}
                   {{ form_row(prezzo.proprietario) }}
                   {{ form_row(prezzo.dataFirma) }}
                   {{ form_row(prezzo.esclusivita) }}
                   {{ form_row(prezzo.pullicazioneFoto) }}
                   {{ form_row(prezzo.collaborazioni) }}
                   RICHIESTA ECONOMICA:
                   
                    {% for prezzi in prezzo.prezzi %}
                  
                        {% if loop.first %}
                             
                    {{ form_widget(prezzi) }}
                    {{ form_errors(prezzi) }}
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                         {% for prezzo in form_row(edit_form.contratti) %}
                    {% for prezzi in prezzo.prezzi %}
                        {% if loop.first %}
                    {{ form_row(prezzi) }}
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
           
                {{ form_end(edit_form) }}
                <button class="btn red btn-xs" onclick="window.location='{{ path('canc_scheda', { 'id': entity.id }) }}';" >Cancella</button>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
    <div class="col-md-4">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet box grey" {% if map is defined and map == false %} style="display:none;"{% endif %}>
        <div class="portlet-title">
            <div class="caption"><i class="fa fa-building"></i>Mappa</div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
        </div>
        <div class="portlet-body">
            <div id="gmap" class="gmaps">
                
            </div>
        </div>
    </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>
<button class="btn yellow btn-xs" onclick="window.location='{{ path('scheda') }}';">Torna indietro</button></a>
<a href="{{ path('scheda') }}">
    <span class="label label-inverse">Torna indietro</span>
</a>

{% endblock %}
